{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {% if category.id %}
        {{ category.name }} - {% trans %}Ministry Category{% endtrans %} - {{ parent() }}
    {% else %}
        {% trans %}Create Ministry Category{% endtrans %} - {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="d-flex align-items-center mb-3">
        <h2 class="mr-auto">
            {% if category.id %}
                {% trans %}Edit Ministry Category{% endtrans %}
            {% else %}
                {% trans %}Create Ministry Category{% endtrans %}
            {% endif %}
        </h2>
        <a class="btn btn-outline-dark" title="{% trans %}Back to List{% endtrans %}"
           href="{{ path('app.ministry_category.index') }}#{{ category.name | slug }}">
            <i class="bi bi-chevron-left"></i> {% trans %}Back{% endtrans %}
        </a>
        <button type="submit" class="btn btn-primary ml-2">
            <i class="bi bi-save"></i> {% trans %}Save{% endtrans %}
        </button>
        {% if category.id > 0 %}
            <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
                <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
            </button>
        {% endif %}
    </div>


    {{ form_errors(form) }}
    <div class="card mb-3">
        <div class="card-header">
            {% trans %}Master data{% endtrans %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.position) }}
                    {{ form_row(form.name) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.responsible) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            {% trans %}Ministries{% endtrans %}
        </div>
        <div class="card-body">
            {{ form_row(form.ministries) }}

            <button type="button" class="btn btn-sm btn-primary" add-collection-item="#{{ form.ministries.vars.id }}">
                <i class="bi bi-plus-lg"></i> {% trans %}Add ministry{% endtrans %}
            </button>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if category.id %}
        <!-- Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-title" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" action="{{ path('app.ministry_category.delete', {'id': category.id}) }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_ministry_category') }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal-title">{% trans %}Delete Record{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% trans %}Do you really want to delete this entry?{% endtrans %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block ministry_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.position) }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.responsibles) }}
            <button type="button" class="btn btn-sm btn-primary" add-collection-item="#{{ form.responsibles.vars.id }}">
                <i class="bi bi-plus-lg"></i> {% trans %}Add responsible{% endtrans %}
            </button>
        </div>
        <div class="col-md-3 text-right">
            <button type="button" class="btn btn-sm btn-danger" remove-collection-item>
                <i class="bi bi-trash"></i> {% trans %}Remove{% endtrans %}
            </button>
        </div>
    </div>
{% endblock %}

{% block _category_ministries_entry_responsibles_entry_widget %}
    {{ block('choice_widget') }}
    <button type="button" class="btn btn-sm btn-danger" remove-collection-item>
        <i class="bi bi-trash"></i>
    </button>
{% endblock %}