{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Ministries{% endtrans %} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center mb-3">
        <h2 class="mr-auto">{% trans %}Ministries{% endtrans %}</h2>
        <a href="{{ path('ecgpb.member.ministry_category.create') }}" class="btn btn-success" title="{% trans %}Add Ministry Category{% endtrans %}">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>


    <table class="table table-bordered ministry-category-list">
        <thead>
            <tr>
                <th>{% trans %}Pos.{% endtrans %}</th>
                <th>{% trans %}Bereich{% endtrans %}</th>
                <th>{% trans %}Pos.{% endtrans %}</th>
                <th>{% trans %}Unterbereich{% endtrans %}</th>
                <th>{% trans %}Tasks{% endtrans %}</th>
                <th>{% trans %}Responsibles{% endtrans %}</th>
                <th class="text-center">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for ministryCategory in ministryCategories %}
                <tr>
                    <td rowspan="{{ ministryCategory.ministries | length + 1 }}">
                        {{ ministryCategory.position }}
                    </td>
                    <td rowspan="{{ ministryCategory.ministries | length + 1 }}">
                        {{ ministryCategory.name }}
                    </td>
                    <td colspan="3">
                        {% trans %}Main Responsible{% endtrans %}
                    </td>
                    <td>
                        {{ ministryCategory.responsible ? ministryCategory.responsible.displayNameDob : null }}
                    </td>
                    <td class="text-center" rowspan="{{ ministryCategory.ministries | length + 1 }}">
                        <a href="{{ path('ecgpb.member.ministry_category.edit', {'id': ministryCategory.id}) }}"
                           class="btn btn-outline-dark btn-sm" title="{% trans %}Edit Ministry Category{% endtrans %}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" title="{% trans %}Delete record{% endtrans %}" delete-ministry-category="{{ ministryCategory.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% for ministry in ministryCategory.ministries %}
                    <tr>
                        <td>{{ ministry.position }}</td>
                        <td>{{ ministry.name }}</td>
                        <td>{{ ministry.description }}</td>
                        <td>
                            {% for person in ministry.responsibles %}
                                {{ person.displayNameDob }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            {% if ministryCategories | length == 0 %}
                <tr>
                    <td colspan="7">
                        {% trans %}There are no entries existing, yet.{% endtrans %}
                    </td>
                </tr>
            {% endif %}
        </tfoot>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" action="{{ path('ecgpb.member.ministry_category.delete', {'id': '_ID_'}) }}" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_ministry_category') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-title">{% trans %}Delete Record{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% trans %}Do you really want to delete this entry?{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ministry_categories.index') }}
{% endblock %}