{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_widget_remove_btn %}
{% spaceless %}
    {% if widget_remove_btn.wrapper_div is not sameas(false) %}
        <div class="col-md-2">
    {% endif %}
    {% if widget_remove_btn|default(null) %}
    {% set button_type = 'remove' %}
    {% set button_values = widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
    {% if form.parent.vars['name'] == 'persons' and form.vars['data'] %}
        {% set person = form.vars['data'] %}
        <a class="btn btn-default" href="{{ path('ecgpb.member.person.edit', {'id': person.id}) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            {% trans %}Edit{% endtrans %}
        </a>
    {% endif %}
    {% if widget_remove_btn.wrapper_div is not sameas(false) %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block ecgpb_memberbundle_person_widget %}
    <div class="col-md-3">
        <p>
            <img class="-person-picture img-thumbnail"
             src="{{ form.vars['data'] ? path('ecgpb.member.person.optimized_member_picture', {'id': form.vars['data'].id}) : '#' }}"
             alt="No Image"/>
        </p>
        <p>
            <input type="file" name="person-picture-file[{{ name }}]" />
        </p>
    </div>
    <div class="col-md-9">
        {{ block('form_widget') }}
        <hr/>
        <br/>
    </div>
{% endblock %}

{% block body -%}

    {% if entity.id > 0 %}
        <a class="btn btn-danger pull-right"
         href="{{ path('ecgpb.member.address.delete', {'id': entity.id}) }}"
         title="{% trans %}Delete Address{% endtrans %}"
         onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    <a class="btn btn-default pull-right"
     href="{{ path('ecgpb.member.address.index') }}#address-{{ entity.id }}"
     title="{% trans %}Back to List{% endtrans %}">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>

    <h2>{% trans %}Edit Address{% endtrans %}</h2>

    {% set actionUrl = entity.id > 0
        ? path('ecgpb.member.address.update', {'id': entity.id})
        : path('ecgpb.member.address.create')
    %}
    <form class="form-horizontal" action="{{ actionUrl }}" method="post" enctype="multipart/form-data">
        <div class="clearfix">
            {{ form_errors(form) }}
            {{ form_row(form.familyName) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.street) }}
            {{ form_row(form.zip) }}
            {{ form_row(form.city) }}
        </div>

        <h3>{% trans %}Persons{% endtrans %}</h3>
        {{ form_row(form.persons) }}
        
        {{ form_rest(form) }}
    </form>

{% endblock %}
