{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-success pull-right" href="{{ path('ecgpb.member.address.new') }}">
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <h2>{% trans %}Addresses{% endtrans %}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name, Address, Phone{% endtrans %}</th>
                <th>{% trans %}First Name{% endtrans %}</th>
                <th>{% trans %}DOB{% endtrans %}</th>
                <th>{% trans %}Mobile, Email{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td rowspan="{{ entity.persons | length }}">
                    <a name="address-{{ entity.id }}"></a>
                    <p>
                        <strong>{{ entity.familyName }}</strong><br/>
                        <strong>{{ entity.phone }}</strong><br/>
                    </p>
                    <p>
                        <i>{{ entity.street }}</i><br/>
                        <i>{{ entity.zip }} {{ entity.city }}</i><br/>
                    </p>
                </td>
                {% for person in entity.persons %}
                    {% if loop.index0 > 0 %}<tr>{% endif %}
                        <td>
                            {% if persons_with_picture[person.id] %}
                                <img class="person-picture" src="{{ path('ecgpb.member.person.optimized_member_picture', {'id': person.id}) }}" />
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ person.firstname }}</strong>
                        </td>
                        <td>
                            {{ person.dob | localizeddate('medium', 'none') }}
                        </td>
                        <td>
                            {% if person.phone2 %}{{ person.phone2 }}<br/>{% endif %}
                            {% if person.mobile %}{{ person.mobile }}<br/>{% endif %}
                            {% if person.email %}{{ person.email }}<br/>{% endif %}
                        </td>
                        {% if loop.index0 == 0 %}
                        <td rowspan="{{ entity.persons | length }}">
                            <a class="btn btn-default"
                             href="{{ path('ecgpb.member.address.edit', { 'id': entity.id }) }}"
                             title="{% trans %}Edit Address{% endtrans %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-danger"
                             href="{{ path('ecgpb.member.address.delete', { 'id': entity.id }) }}"
                             title="{% trans %}Delete Address{% endtrans %}"
                             onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                        <td>
                            <a class="btn btn-default"
                             href="{{ path('ecgpb.member.address.edit', { 'id': entity.id }) }}"
                             title="{% trans %}Edit Address{% endtrans %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-danger"
                             href="{{ path('ecgpb.member.address.delete', { 'id': entity.id }) }}"
                             title="{% trans %}Delete Address{% endtrans %}"
                             onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
