{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-success pull-right" href="{{ path('ecgpb.member.address.new') }}">
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <h2>{% trans %}Addresses{% endtrans %}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name, Address, Phone{% endtrans %}</th>
                <th>{% trans %}First Name{% endtrans %}</th>
                <th><small>{% trans %}D.o. Birth{% endtrans %}</small></th>
                <th>{% trans %}Mobile, Email{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td rowspan="{{ entity.persons | length }}">
                    <p><strong>{{ entity.familyName }}</strong></p>
                    <p><strong>{{ entity.phone }}</strong></p>
                    <p><i>{{ entity.street }}</i></p>
                    <p><i>{{ entity.zip }} {{ entity.city }}</i></p>
                </td>
                {% for person in entity.persons %}
                    <td>
                        <strong>{{ person.firstname }}</strong>
                    </td>
                    <td>
                        {{ person.birthDate | localizeddate('medium', 'none') }}
                    </td>
                    <td>
                        <p>{{ person.mobile }}</p>
                        <p>{{ person.email }}</p>
                    </td>
                    <td>
                        <a href="{{ path('ecgpb.member.person.edit', { 'id': person.id }) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
