{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-success pull-right" href="{{ path('ecgpb.member.workinggroup.new') }}">
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <h2>{% trans %}Working Groups{% endtrans %}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Group{% endtrans %}</th>
                <th>{% trans %}Leader{% endtrans %}</th>
                <th>{% trans %}Persons{% endtrans %}</th>
                <th class="col-md-2">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for working_group in working_groups %}
            <tr>
                <td>
                    <p>
                        {{ working_group.number }}.
                        {{ (working_group.gender == 'f' ? 'Group of Women' : 'Group of Men') | trans }}
                    </p>
                    <p class="text-muted">
                        {% trans %}Average Age{% endtrans %}: {{ working_group.avgAge | round(2) }}<br/>
                        {% trans %}Variance of Age{% endtrans %}: {{ working_group.varianceOfAge | round(2) }}<br/>
                    </p>
                </td>
                <td>
                    {{ working_group.leader ? working_group.leader.firstname ~ ' ' ~ working_group.leader.address.familyName : '' }}
                    {% if working_group.leader %}({{ working_group.leader.dob.format('Y') }}){% endif %}
                </td>
                <td>
                    <div class="col-md-6">
                        {% for person in working_group.persons %}
                            <span class="text-muted">{{ loop.index }}.</span>
                            {{ person.lastnameFirstnameAndDob }}<br/>

                            {% if loop.index == (working_group.persons | length / 2) | round %}
                                </div><div class="col-md-6">
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path('ecgpb.member.workinggroup.edit', { 'id': working_group.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-danger"
                     href="{{ path('ecgpb.member.workinggroup.delete', { 'id': working_group.id }) }}"
                     onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    {% trans %}There are no entries existing, yet.{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
