{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {% trans %}Working Group{% endtrans %} - {{ parent() }}
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
    <div class="d-flex align-items-center mb-3">
        <h2 class="mr-auto">
            {% trans %}Working Group{% endtrans %}
        </h2>
        <a class="btn btn-outline-dark"
         href="{{ path('app.workinggroup.index') }}"
         title="{% trans %}Back to List{% endtrans %}">
            <i class="bi bi-chevron-left"></i> {% trans %}Back{% endtrans %}
        </a>
        <button type="submit" class="btn btn-primary ml-2">
            <i class="bi bi-save"></i> {% trans %}Save{% endtrans %}
        </button>
        {% if workingGroup.id > 0 %}
            <a class="btn btn-danger ml-2"
             href="{{ path('app.workinggroup.delete', {'id': workingGroup.id}) }}"
             title="{% trans %}Delete Working Group{% endtrans %}"
             onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
            </a>
        {% endif %}
    </div>


    {{ form_errors(form) }}
    <div class="card mb-3">
        <div class="card-header">
            {% trans %}Master data{% endtrans %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.number) }}
                    {{ form_row(form.gender) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.leader) }}
                </div>
            </div>
        </div>
    </div>

    {% if workingGroup.id %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {% trans %}Persons{% endtrans %}
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans %}Lastname{% endtrans %}</th>
                                    <th>{% trans %}Firstname{% endtrans %}</th>
                                    <th>{% trans %}DOB{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in workingGroup.persons %}
                                    <tr>
                                        <td>{{ person.address.familyName }}</td>
                                        <td>{{ person.firstname }}</td>
                                        <td>{{ person.dob | format_date('medium') }}</td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">{% trans %}There are no entries existing, yet.{% endtrans %}</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}