{% extends 'base.html.twig' %}

{% block body -%}
    <h2>{% trans %}Persons that are unable to work{% endtrans %}</h2>

    <form action="{{ path('ecgpb.member.workinggroup.update_worker_status') }}" method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Last Name{% endtrans %}</th>
                    <th>{% trans %}First Name{% endtrans %}</th>
                    <th>{% trans %}DOB{% endtrans %}</th>
                    <th>{% trans %}Work Status{% endtrans %}</th>
                    <th>{% trans %}Group{% endtrans %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td>
                        {{ person.address.familyName }}
                    </td>
                    <td>
                        {{ person.firstname }}
                    </td>
                    <td>
                        {{ person.dob | format_date('medium') }}
                    </td>
                    <td>
                        <select name="worker_status[{{ person.id }}]">
                            {% for code,name in person.allWorkerStatus %}
                                <option value="{{ code }}" {% if code == person.workerStatus %}selected{% endif %}>
                                    {{ name | trans }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-dark" href="{{ path('ecgpb.member.person.edit', {'id': person.id}) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        {% trans %}There are no entries existing, yet.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">
            {% trans %}Save{% endtrans %}
        </button>
    </form>
{% endblock %}
