<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ECGPB{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% block body_start%}<body>{% endblock %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="#">
                    ECGPB {% trans %}Member List{% endtrans %}
                </a>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {# active #}">
                            <a class="nav-link" href="{{ path('ecgpb.member.address.index') }}">
                                {% trans %}Addresses{% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
                                {% trans %}Working Groups{% endtrans %}
                                <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('ecgpb.member.workinggroup.index') }}">
                                    {% trans %}Working Groups{% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.workinggroup.assignables') }}">
                                    {% trans %}Unassigned Persons{% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.workinggroup.persons_unable_to_work') }}">
                                    {% trans %}Persons unable to work{% endtrans %}
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ecgpb.member.ministry_category.index') }}">
                                {% trans %}Ministries{% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                {% trans %}Export{% endtrans %}
                                <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('ecgpb.member.export.pdf_config') }}">
                                    {% trans %}Member List{% endtrans %} (PDF)
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.export.csv') }}">
                                    {% trans %}Member List{% endtrans %} (CSV)
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.export.birthday_excel') }}">
                                    {% trans %}Birthday List{% endtrans %} (Excel)
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.export.seniors_excel') }}">
                                    {% trans %}Seniors List{% endtrans %} (Excel)
                                </a>
                                <a class="dropdown-item" href="{{ path('ecgpb.member.export.email_addresses') }}">
                                    {% trans %}Email Addresses{% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ path('app.stats.index') }}">
                                    {% trans %}Statistics{% endtrans %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </header>
        <main role="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="flashes">
                            {% for type, flashes in app.session.flashBag.all %}
                                {% set cssType = type == 'error' ? 'danger' : type %}
                                {% for message in flashes %}
                                    <div class="alert alert-{{ type }}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
