{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ecgpbmember/css/print.css') }}" type="text/css" rel="stylesheet" media="print" />
{% endblock %}

{% block body -%}
    <div id="print-page">
        <div class="page">
            <div class="front-logo">
                <img src="" alt="logo" />
            </div>
            <div class="full-name">
                Evangeliums - Christengemeinde Paderborn e.V.
            </div>
            <h1 class="cover-title">
                {% trans %}Member List{% endtrans %}
                {{ date.format('Y') }}
            </h1>
        </div>
        <div class="page page2">
            <div class="church-picture">
                <img src="" alt="church picture" />
            </div>
            <address class="address font-size-xl">
                <p>
                    <strong>Evangeliums - Christengemeinde e.V.</strong><br />
                    Karl-Schurz-Str. 28<br />
                    33100 Paderborn<br />
                    05251 / 528629<br />
                    <small>Homepage: www.ecgpb.de</small><br />
                </p>
            </address>
            <div class="bank-account font-size-xl">
                <p>
                    <strong>{% trans %}Bank Account{% endtrans %}</strong><br />
                    Sparkasse Paderborn-Detmold<br />
                    {% trans %}Account Number{% endtrans %}: 280 013 03<br />
                    {% trans %}Bank Code{% endtrans %}: 476 501 30<br />
                </p>
            </div>
            <div class="bank-account font-size-xl">
                <p>
                    <strong>{% trans %}Effective{% endtrans %}: 01.01.{{ date.format('Y') }}</strong>
                </p>
            </div>
            <div class="change-notification">
                <p>
                    {% trans %}Please report immediately all changes to Anita oder Christian Stoller!{% endtrans %}<br />
                    <strong>gemeindeliste@ecgpb.de</strong>
                </p>
            </div>
        </div>
        <div class="page">
            
        </div>
        
        <h1>Person list</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Name, Address, Phone{% endtrans %}</th>
                    <th>{% trans %}First Name{% endtrans %}</th>
                    <th>{% trans %}DOB{% endtrans %}</th>
                    <th>{% trans %}Mobile, Email{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in addresses %}
                <tr>
                    <td rowspan="{{ entity.persons | length }}">
                        <p><strong>{{ entity.familyName }}</strong></p>
                        <p><strong>{{ entity.phone }}</strong></p>
                        <p><i>{{ entity.street }}</i></p>
                        <p><i>{{ entity.zip }} {{ entity.city }}</i></p>
                    </td>
                    {% for person in entity.persons %}
                        {% if loop.index0 > 0 %}<tr>{% endif %}
                            <td>
                                <strong>{{ person.firstname }}</strong>
                            </td>
                            <td>
                                {{ person.dob | localizeddate('medium', 'none') }}
                            </td>
                            <td>
                                <p>{{ person.mobile }}</p>
                                <p>{{ person.email }}</p>
                            </td>
                            {% if loop.index0 == 0 %}
                            <td rowspan="{{ entity.persons | length }}">
                                <a class="btn btn-default"
                                 href="{{ path('ecgpb.member.address.edit', { 'id': entity.id }) }}"
                                 title="{% trans %}Edit Address{% endtrans %}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-danger"
                                 href="{{ path('ecgpb.member.address.delete', { 'id': entity.id }) }}"
                                 title="{% trans %}Delete Address{% endtrans %}"
                                 onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    {% else %}
                            <td>
                                <a class="btn btn-default"
                                 href="{{ path('ecgpb.member.address.edit', { 'id': entity.id }) }}"
                                 title="{% trans %}Edit Address{% endtrans %}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-danger"
                                 href="{{ path('ecgpb.member.address.delete', { 'id': entity.id }) }}"
                                 title="{% trans %}Delete Address{% endtrans %}"
                                 onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
