<style type="text/css">
    
</style>

<div class="page-margin">
    <div class="front-logo">
        LOGO {#<img src="" alt="logo" />#}
    </div>
    <div class="full-name">
        {{ ecgpb_contact_name_html | raw }}
    </div>
    <h1 class="cover-title">
        {% trans %}Member List{% endtrans %}
        {{ date.format('Y') }}
    </h1>
</div>

<!--PAGE_BREAK-->

<div class="page-margin">
    <div class="church-picture">
        IMAGE {#<img src="" alt="church picture" />#}
    </div>
    <address class="address font-size-xl">
        <p>
            <strong>{{ ecgpb_contact_name_html | raw }}</strong><br />
            {{ ecgpb_contact_street }}<br />
            {{ ecgpb_contact_zip }} {{ ecgpb_contact_city }}<br />
            {{ ecgpb_contact_main_phone }}<br />
            <small>Homepage: www.ecgpb.de</small><br />
        </p>
    </address>
    <div class="bank-account font-size-xl">
        <p>
            <strong>{% trans %}Bank Account{% endtrans %}</strong><br />
            Sparkasse Paderborn-Detmold<br />
            {% trans %}Account Number{% endtrans %}: {{ ecgpb_contact_bank_account_number }}<br />
            {% trans %}Bank Code{% endtrans %}: {{ ecgpb_contact_bank_code }}<br />
        </p>
    </div>
    <div class="bank-account font-size-xl">
        <p>
            <strong>{% trans %}Effective{% endtrans %}: 01.01.{{ date.format('Y') }}</strong>
        </p>
    </div>
    <div class="change-notification">
        <p>
            {% trans with {'%name%': ecgpb_contact_memberlist_responsible} %}Please report immediately all changes to %name%!{% endtrans %}<br />
            <strong>{{ ecgpb_contact_memberlist_email }}</strong>
        </p>
    </div>
</div>

<!--PAGE_BREAK-->

<div class="page-margin">
    <h2 class="font-size-xl bold">{% trans %}Phone Connections of the Church{% endtrans %}</h2>
    <table class="font-size-xl">
        <tr>
            <td>Haupteingang</td>
            <td>{{ ecgpb_contact_main_phone }}</td>
        </tr>
        <tr>
            <td>Büro</td>
            <td>{{ ecgpb_contact_office_phone }}</td>
        </tr>
        <tr>
            <td>LifeTime</td>
            <td>{{ ecgpb_contact_lifetime_phone }}</td>
        </tr>
        <tr>
            <td>Gefährdetenhilfe PB</td>
            <td>{{ ecgpb_contact_gfh_phone }}</td>
        </tr>
    </table>

    <h2 class="font-size-xl bold">{% trans %}Library{% endtrans %}</h2>
    <table class="font-size-xl">
        <tr>
            <td>Telefon</td>
            <td>{{ ecgpb_contact_library_phone }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ ecgpb_contact_library_email }}</td>
        </tr>
    </table>

    <p class="font-size-l">Öffnungszeiten</p>
    <table class="col-md-offset-1 font-size-l">
        <tr>
            <td>Mittwoch:</td>
            <td>18:30 &ndash; 20:30 Uhr</td>
        </tr>
        <tr>
            <td>Donnerstag:</td>
            <td>18:00 &ndash; 20:30 Uhr</td>
        </tr>
        <tr>
            <td>Sonntag:</td>
            <td>11:45 &ndash; 12:30 Uhr</td>
        </tr>
        <tr>
            <td colspan="2">
                An Ferien- und Feiertagen geschlossen
            </td>
        </tr>
    </table>
    <hr />

    <h2 class="font-size-xl bold">Mitgliederstand am 01.01.{{ date.format('Y') }}</h2>
    <table class="font-size-l">
        <tr>
            <td>Gesamtmitgliederzahl:</td>
            <td>?</td>
        </tr>
        <tr>
            <td><br/>Davon männlich:</td>
            <td><br/>?</td>
        </tr>
        <tr>
            <td>Davon weiblich:</td>
            <td>?</td>
        </tr>
        <tr>
            <td><br/>Mitglieder ab 65 Jahren:</td>
            <td><br/>?</td>
        </tr>
        <tr>
            <td>Mitglieder bis 25 Jahren:</td>
            <td>?</td>
        </tr>
    </table>
</div>

{% set totalHeight = 0 %}
{% for entity in addresses %}
    {% if totalHeight == 0 %}
        <!--PAGE_BREAK-->

        <div class="page font-size-s">
            <div class="page-margin">
                <table class="table table-bordered members">
                    <thead>
                        <tr>
                            <th colspan="2">
                                {% trans %}Name, Address, Phone{% endtrans %}
                            </th>
                            <th>{% trans %}First Name{% endtrans %}</th>
                            <th class="text-center">{% trans %}DOB{% endtrans %}</th>
                            <th class="text-center">{% trans %}Mobile, Email{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
    {% endif %}
    {% set personRowHeight = 0 %}
    {% for index, person in entity.persons %}
                        <tr>
                            {% if loop.index0 == 0 %}
                                <td class="address-col" rowspan="{{ entity.persons | length }}">
                                    <strong>{{ entity.familyName }}</strong><br/>
                                    <strong>{{ entity.phone }}</strong><br/>
                                    <span class="font-size-xs">
                                        <span class="{% if person.email | length > 18 %}font-size-xxs{% endif %}">{{ entity.street }}</span><br/>
                                        {{ entity.zip }} {{ entity.city }}<br/>
                                    </span>
                                </td>
                            {% endif %}
                            <td class="photo-col">
                                <div>
                                    &NBSP; {#<img src="" alt="&nbsp;" />#}
                                </div>
                            </td>
                            <td class="firstname-col">
                                <strong>{{ person.firstname }}</strong>
                            </td>
                            <td class="dob-col text-center font-size-xs">
                                {{ person.dob | localizeddate('medium', 'none') }}
                            </td>
                            <td class="contact-col text-center font-size-xs">
                                <div>
                                    {% if person.phone2 %}{{ person.phone2 }}<br/>{% endif %}
                                    {% if person.mobile %}{{ person.mobile }}<br/>{% endif %}
                                    <span class="{% if person.email | length > 18 %}font-size-xxs{% endif %}">{{ person.email }}</span><br/>
                                </div>
                            </td>
                        </tr>
        {# add height of this row #}
        {% set personRowHeight = personRowHeight + 2
            + (person.phone2 ? 4.9 : 0)
            + (person.mobile ? 4.9 : 0)
            + 4.9
        %}
    {% endfor %}
    #{{ personRowHeight }}#
    {% if totalHeight > 60 %}
                    </tbody>
                </table>
            </div>
        {% set totalHeight = 0 %}
    {% else %}
        {% set totalHeight = totalHeight + (27.9 + 2 > personRowHeight ? 27.9 + 2 : personRowHeight) %}
        -{{ totalHeight }}- 
    {% endif %}
{% endfor %}