{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {% trans %}Address{% endtrans %} - {{ parent() }}
{% endblock %}

{% block form_widget_remove_btn %}
{% apply spaceless %}
    {% if widget_remove_btn.wrapper_div is not same as(false) %}
        <div class="col-md-2">
    {% endif %}
    {% if widget_remove_btn|default(null) %}
    {% set button_type = 'remove' %}
    {% set button_values = widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
    {% if form.parent.vars['name'] == 'persons' and form.vars['data'] and form.vars['data'].id %}
        {% set person = form.vars['data'] %}
        <a class="btn btn-outline-dark" href="{{ path('app.person.edit', {'id': person.id}) }}">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
        </a>
    {% endif %}
    {% if widget_remove_btn.wrapper_div is not same as(false) %}
        </div>
    {% endif %}
{% endapply %}
{% endblock %}

{% block person_widget %}
    {% set person = form.vars['data'] %}
    <div class="row">
        <div class="col-md-3">
            <p>
                <img class="-person-picture img-thumbnail"
                 src="{{ person and person.id ? path('app.person.optimized_member_picture', {'id': person.id}) : '#' }}"
                 alt="No Image"/>
            </p>
            <p>
                <input type="file" name="person-picture-file[{{ name }}]" />
            </p>
        </div>
        <div class="col-md-3">
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.dob) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.mobile) }}
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-3">
            {{ block('form_widget') }}
        </div>
        <div class="col-md-3 text-right">
            {% if person and person.id %}
                <a class="btn btn-sm btn-outline-dark" href="{{ path('app.person.edit', {'id': person.id}) }}">
                    <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
            <button type="button" class="btn btn-sm btn-danger" remove-collection-item>
                <i class="bi bi-trash"></i> {% trans %}Remove{% endtrans %}
            </button>
        </div>
    </div>
{% endblock %}

{% block body -%}
    <form method="post" enctype="multipart/form-data">
        <div class="d-flex align-items-center mb-3">
            <div class="mr-auto">
                <h2>{% trans %}Edit Address{% endtrans %}</h2>
            </div>
            <a class="btn btn-outline-dark mr-2" href="{{ app.request.query.get('referrer', path('app.address.index')) }}" title="{% trans %}Back to List{% endtrans %}">
                <i class="bi bi-chevron-left"></i> {% trans %}Back{% endtrans %}
            </a>
            <button type="submit" class="btn btn-primary mr-2">
                <i class="bi bi-save"></i> {% trans %}Save{% endtrans %}
            </button>

            {% if entity.id > 0 %}
                <a class="btn btn-danger"
                 href="{{ path('app.address.delete', {'id': entity.id, 'referrer': app.request.query.get('referrer')}) }}"
                 title="{% trans %}Delete Address{% endtrans %}"
                 onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
                </a>
            {% endif %}
        </div>

        {{ form_errors(form) }}
        <div class="card">
            <div class="card-header">{% trans %}Master data{% endtrans %}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.namePrefix) }}
                        {{ form_row(form.familyName) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.phone) }}
                        {{ form_row(form.street) }}
                        {{ form_row(form.zip) }}
                        {{ form_row(form.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                {% trans %}Persons{% endtrans %}
            </div>
            <div class="card-body">
                {{ form_row(form.persons) }}

                <button type="button" class="btn btn-sm btn-primary" add-collection-item="#{{ form.persons.vars.id }}">
                    <i class="bi bi-plus-lg"></i> {% trans %}Add person{% endtrans %}
                </button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    {% if entity.id > 0 %}
        {% set allLogs = [{'person': null, 'logs': addressLogs}] | merge(personsLogs) %}
        {% for personAndLogs in (allLogs | filter(t => t.logs|length > 0)) %}
            <div class="card mb-4">
                <div class="card-header">
                    {% if personAndLogs.person is null %}
                        {% trans %}Change history of address{% endtrans %}
                    {% else %}
                        {% trans with {'%name%': personAndLogs.person.firstnameAndLastname} %}Change history of %name%{% endtrans %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>{% trans %}Timestamp{% endtrans %}</th>
                            <th>{% trans %}Action{% endtrans %}</th>
                            <th>{% trans %}Data changes{% endtrans %}</th>
                        </tr>
                        {% for log in (personAndLogs.logs | default([])) %}
                            <tr>
                                <td>{{ log.loggedAt | format_datetime('medium', 'medium') }}</td>
                                <td>{{ log.action }}</td>
                                <td class="p-0">
                                    <table class="table table-borderless table-striped m-0">
                                        {% for key, value in (log.data | filter(v => v is not empty or log.action == 'update')) %}
                                            <tr>
                                                <td class="w-25">{{ key | capitalize | trans }}</td>
                                                <td>
                                                    {% if value is null or value is same as ('') %}
                                                        {% if log.action == 'update' %}
                                                            - {% trans %}removed{% endtrans %} -
                                                        {% endif %}
                                                    {% elseif key in ['address', 'workingGroup'] %}
                                                        ID: {{ value.id }}
                                                    {% elseif value.format is defined %}
                                                        {{ value | format_date('medium') }}
                                                    {% else %}
                                                        {{ value }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    {% trans %}There are no entries existing, yet.{% endtrans %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
