{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {% trans %}Address{% endtrans %} - {{ parent() }}
{% endblock %}

{% block form_widget_remove_btn %}
{% spaceless %}
    {% if widget_remove_btn.wrapper_div is not same as(false) %}
        <div class="col-md-2">
    {% endif %}
    {% if widget_remove_btn|default(null) %}
    {% set button_type = 'remove' %}
    {% set button_values = widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
    {% if form.parent.vars['name'] == 'persons' and form.vars['data'] and form.vars['data'].id %}
        {% set person = form.vars['data'] %}
        <a class="btn btn-outline-dark" href="{{ path('ecgpb.member.person.edit', {'id': person.id}) }}">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
        </a>
    {% endif %}
    {% if widget_remove_btn.wrapper_div is not same as(false) %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block person_widget %}
    {% set person = form.vars['data'] %}
    <div class="row">
        <div class="col-md-3">
            <p>
                <img class="-person-picture img-thumbnail"
                 src="{{ person and person.id ? path('ecgpb.member.person.optimized_member_picture', {'id': person.id}) : '#' }}"
                 alt="No Image"/>
            </p>
            <p>
                <input type="file" name="person-picture-file[{{ name }}]" />
            </p>
        </div>
        <div class="col-md-3">
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.dob) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.mobile) }}
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-3">
            {{ block('form_widget') }}
        </div>
        <div class="col-md-3 text-right">
            {% if person and person.id %}
                <a class="btn btn-sm btn-outline-dark" href="{{ path('ecgpb.member.person.edit', {'id': person.id}) }}">
                    <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
            <button type="button" class="btn btn-sm btn-danger" remove-collection-item>
                <i class="bi bi-trash"></i> {% trans %}Remove{% endtrans %}
            </button>
        </div>
    </div>
{% endblock %}

{% block body -%}
    <form method="post" enctype="multipart/form-data">
        <div class="d-flex align-items-center mb-3">
            <div class="mr-auto">
                <h2>{% trans %}Edit Address{% endtrans %}</h2>
            </div>
            <button type="button" class="btn btn-outline-dark mr-2" onclick="history.back()" title="{% trans %}Back to List{% endtrans %}">
                <i class="bi bi-chevron-left"></i> {% trans %}Back{% endtrans %}
            </button>
            <button type="submit" class="btn btn-primary mr-2">
                <i class="bi bi-save"></i> {% trans %}Save{% endtrans %}
            </button>

            {% if entity.id > 0 %}
                <a class="btn btn-danger"
                 href="{{ path('ecgpb.member.address.delete', {'id': entity.id}) }}"
                 title="{% trans %}Delete Address{% endtrans %}"
                 onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
                </a>
            {% endif %}
        </div>

        {{ form_errors(form) }}
        <div class="card">
            <div class="card-header">{% trans %}Master data{% endtrans %}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.namePrefix) }}
                        {{ form_row(form.familyName) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.phone) }}
                        {{ form_row(form.street) }}
                        {{ form_row(form.zip) }}
                        {{ form_row(form.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                {% trans %}Persons{% endtrans %}
            </div>
            <div class="card-body">
                {{ form_row(form.persons) }}

                <button type="button" class="btn btn-sm btn-primary" add-collection-item="#{{ form.persons.vars.id }}">
                    <i class="bi bi-plus-lg"></i> {% trans %}Add{% endtrans %}
                </button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}
