{% extends 'base.html.twig' %}

{% block title %}{% trans %}Addresses{% endtrans %} - {{ parent() }}{% endblock %}

{% block body -%}
    <div class="d-flex align-items-center mb-3">
        <h2 class="mr-auto">{% trans %}Addresses{% endtrans %}</h2>
        <form action="{{ path('app.address.index') }}" method="get" role="form" class="form-inline">
            {% set filter = app.request.get('filter') %}
            <input type="text" name="filter[term]" class="form-control mr-2" value="{{ filter['term'] is defined ? filter['term'] : '' }}" placeholder="{% trans %}Search Term{% endtrans %}" />
            <div class="form-check mr-2">
                <label>
                    <input type="checkbox" name="filter[has-email]" class="form-check-input" value="1" {% if filter['has-email'] is defined and filter['has-email'] is not empty %}checked="1"{% endif %} />
                    {% trans %}Has Email Address{% endtrans %}
                </label>
            </div>
            <div class="form-check mr-2">
                <label>
                    <input type="checkbox" name="filter[no-photo]" class="form-check-input" value="1" {% if filter['no-photo'] is defined and filter['no-photo'] is not empty %}checked="1"{% endif %} />
                    {% trans %}Without Photo{% endtrans %}
                </label>
            </div>
            <button type="submit" class="btn btn-outline-dark mr-2">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <div>
            <a class="btn btn-success" href="{{ path('app.address.new') }}">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name, Address, Phone{% endtrans %}</th>
                <th>{% trans %}Photo{% endtrans %}</th>
                <th class="text-center">{% trans %}Gender{% endtrans %}</th>
                <th>{% trans %}First Name{% endtrans %}</th>
                <th class="text-center">{% trans %}DOB{% endtrans %}</th>
                <th>{% trans %}Mobile, E-Mail{% endtrans %}</th>
                <th class="col-md-1">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for address in pagination %}
            <tr>
                <td rowspan="{{ address.persons | length > 0 ? address.persons | length : 1 }}">
                    <a name="address-{{ address.id }}"></a>
                    <p>
                        <strong>{{ (address.namePrefix ? address.namePrefix ~ ' ' : '') ~ address.familyName }}</strong><br/>
                        <strong>{{ address.phone }}</strong><br/>
                    </p>
                    <p>
                        <i>{{ address.street }}</i><br/>
                        <i>{{ address.zip }} {{ address.city }}</i><br/>
                    </p>
                </td>
                {% for person in address.persons %}
                    {% if loop.index0 > 0 %}<tr>{% endif %}
                        <td>
                            {% if person.id not in person_ids_without_photo %}
                                <img class="person-picture" src="{{ path('app.person.optimized_member_picture', {'id': person.id}) }}" />
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <strong>{{ person.gender }}</strong>
                        </td>
                        <td>
                            <strong>{{ person.firstname }}</strong>
                        </td>
                        <td class="text-center">
                            {{ person.dob | format_date('medium') }}
                        </td>
                        <td>
                            {% if person.phone2Label %}{{ person.phone2Label | replace({'\\n': '<br/>'}) | raw }}{% endif %}
                            {% if person.phone2 %}{{ person.phone2 }}<br/>{% endif %}
                            {% if person.mobile %}{{ person.mobile }}<br/>{% endif %}
                            {% if person.email %}{{ person.email }}<br/>{% endif %}
                        </td>
                        {% if loop.index0 == 0 %}
                        <td rowspan="{{ address.persons | length }}">
                            <a class="btn btn-outline-dark"
                             href="{{ path('app.address.edit', { 'id': address.id }) }}"
                             title="{% trans %}Edit Address{% endtrans %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-danger"
                             href="{{ path('app.address.delete', { 'id': address.id }) }}"
                             title="{% trans %}Delete Address{% endtrans %}"
                             onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-outline-dark"
                             href="{{ path('app.address.edit', { 'id': address.id }) }}"
                             title="{% trans %}Edit Address{% endtrans %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-danger"
                             href="{{ path('app.address.delete', { 'id': address.id }) }}"
                             title="{% trans %}Delete Address{% endtrans %}"
                             onclick="return confirm('{% trans %}Do you really want to delete this entry?{% endtrans %}')">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">
                    {% trans %}There are no entries existing, yet.{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination, null, {'filter': app.request.get('filter')}) }}
    </div>
{% endblock %}
